{% extends "base.html" %}

{% block title %}
    Lista de Ingressos | {{ block.super }} <!-- irá adicionar o conteúdo do bloco da página base.html -->
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>Ingressos</h1>
</div>
<div class="row">
{% for ingresso in ingressos %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        {% if ingresso.imgEvento %}
            <a href="">
                <img src="{{ingresso.imgEvento.url}}" alt="{{ ingresso.titulo }}" />
            </a>
        {% endif %}
            <div class="caption">
                <h3>{{ ingresso.titulo }}</h3>
                <p>{{ ingresso.descricao }}</p>
                <p><a href="#" class="btn btn-success" role="button"><i class="fas fa-cart-plus"></i> Comprar</a> <a href="{% url 'ingresso' %}" class="btn btn-default" role="button"><i class="far fa-eye"></i> Ver</a></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}